<% layout("/layout/boilerplate") %>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h1>Edit this Listing</h1>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="listing-form" enctype="multipart/form-data">
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" placeholder="Title" class="form-input">
        <br>

        <label for="description" class="form-label">Description:</label>
        <textarea id="description" name="listing[description]" placeholder="Description" class="form-input"><%= listing.description %></textarea>
        <br>

        <label for="image" class="form-label">Upload new image</label>
        <input type="file" id="image" name="listing[image]"  class="form-input">
        <br>

        <label for="price" class="form-label">Price:</label>
        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" placeholder="Price" class="form-input">
        <br>

        <label for="location" class="form-label">Location:</label>
        <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" placeholder="Location" class="form-input">
        <br>

        <label for="country" class="form-label">Country:</label>
        <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" placeholder="Country" class="form-input">
        <br>

        <fieldset>
            <legend>Select Amenities:</legend>
        
            <input type="checkbox" name="listing[amenities]" value="WiFi"
                <% if (listing.amenities.includes("WiFi")) { %> checked <% } %> > WiFi
        
            <input type="checkbox" name="listing[amenities]" value="Parking"
                <% if (listing.amenities.includes("Parking")) { %> checked <% } %> > Parking
        
            <input type="checkbox" name="listing[amenities]" value="Swimming Pool"
                <% if (listing.amenities.includes("Swimming Pool")) { %> checked <% } %> > Swimming Pool
        
            <input type="checkbox" name="listing[amenities]" value="Gym"
                <% if (listing.amenities.includes("Gym")) { %> checked <% } %> > Gym
        
            <input type="checkbox" name="listing[amenities]" value="Air Conditioning"
                <% if (listing.amenities.includes("Air Conditioning")) { %> checked <% } %> > Air Conditioning
        
            <input type="checkbox" name="listing[amenities]" value="Heating"
                <% if (listing.amenities.includes("Heating")) { %> checked <% } %> > Heating
        
            <input type="checkbox" name="listing[amenities]" value="Kitchen"
                <% if (listing.amenities.includes("Kitchen")) { %> checked <% } %> > Kitchen
        
            <input type="checkbox" name="listing[amenities]" value="Washer"
                <% if (listing.amenities.includes("Washer")) { %> checked <% } %> > Washer
        
            <input type="checkbox" name="listing[amenities]" value="Dryer"
                <% if (listing.amenities.includes("Dryer")) { %> checked <% } %> > Dryer
        
            <input type="checkbox" name="listing[amenities]" value="TV"
                <% if (listing.amenities.includes("TV")) { %> checked <% } %> > TV
        
            <input type="checkbox" name="listing[amenities]" value="Refrigerator"
                <% if (listing.amenities.includes("Refrigerator")) { %> checked <% } %> > Refrigerator
        
            <input type="checkbox" name="listing[amenities]" value="Microwave"
                <% if (listing.amenities.includes("Microwave")) { %> checked <% } %> > Microwave
        
            <input type="checkbox" name="listing[amenities]" value="Fireplace"
                <% if (listing.amenities.includes("Fireplace")) { %> checked <% } %> > Fireplace
        
            <input type="checkbox" name="listing[amenities]" value="Balcony"
                <% if (listing.amenities.includes("Balcony")) { %> checked <% } %> > Balcony
        
            <input type="checkbox" name="listing[amenities]" value="Pet Friendly"
                <% if (listing.amenities.includes("Pet Friendly")) { %> checked <% } %> > Pet Friendly
        
        </fieldset>
        
        

        <button type="submit" class="form-button">Update</button>
    </form>
</body>
